body {
    background-color: #fff;
}

table {
    margin: 200px auto;
}

td {
    width: 60px;
    height: 60px;
    border: 10px solid #282828;
    border-collapse: collapse;
}

.white {
    background-color: #fff;
}

.red {
    background-color: #ff5d3f;
}

.yellow {
    background-color: #ffe657;
}

.grey {
    background-color: #505151;
}

.blue {
    background-color: #1b4c8d;
}

.bordert {
    border-top: 10px solid #fff;
}

.borderb {
    border-bottom: 10px solid #fff;
}

.bottom td {
    border: 10px solid #fff;
}