@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
    /*margin: auto 0px;*/
    font-family: "helveticaneuecyrthin";
}

.top {
    width: 1000px;
    height: 898px;
    /*margin: 0 auto;*/
}
.menu {
    background-image: url("../img/top.jpg");
    font-size: 14px;
    overflow: hidden;
    margin: 0px;
    padding: 2px;
}
.menu1 {
    float: left;
    padding: 5px 15px 5px 350px;
    margin: 0px;
    border-right: 1px solid #60b5ed;
}
.menu1 li{
    list-style: none;
    display: inline;
    padding: 8px 5px;
}
.menu1 a{
    text-decoration: none;
    color: #60b5ed;
}
.menu1 li:hover{
    background-color: #4eabda;
}
.menu1 a:hover{
    color: white;
    font-weight: bold;
}
.menu2 {
    color: white;
    margin: 0px ;
}
.menu2 li{
    display: inline;
    list-style: none;
    padding: 8px 10px;
}
.menu2 a{
    color: white;
}
.minhas a{
    text-decoration : none;
}
.menu2 li:hover{
    background: linear-gradient(to top, #2e7ac4, #50afdc);
}
.img {
    margin: 0px auto;
}
.img {
    z-index: 1;
    position: absolute;
}
.anketa {
    padding: 100px 300px;
    text-align: center;
    z-index: 2;
    position: relative;

}
.anketa h1{
    padding: 10px 10px;
    background: rgba(0,0,0,0.7);
    color: white;
    margin-bottom: 2px;
    font-size: 20px;
}
.login {
    padding: 10px 10px;
    background: rgba(0,0,0,0.7)
}
.login img{
    margin-top: 10px;
}
.line {
    color: grey;
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}
.line:before,
.line:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 30%;
    height: 1px;
    vertical-align: middle;
    background: black;
    border-top: 1px solid grey;
}
.line:before {
    left: -10px;
    margin-left: -50%;
}
.line:after {
    left: 10px;
    margin-right: -50%;
}
input {
    padding: 5px 20px;
    margin: 20px 10px 0px;
    background: linear-gradient(to bottom,#111010, #111111);
    border: none;
    color: white;
}
input:hover{
    color: white;
    background: #1b5288;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(29,74,117,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(29,74,117,1);
    box-shadow: inset 0px 0px 10px 0px rgba(29,74,117,1);
    -webkit-box-shadow: 0px 0px 17px 3px rgba(104,155,204,1);
    -moz-box-shadow: 0px 0px 17px 3px rgba(104,155,204,1);
    box-shadow: 0px 0px 17px 3px rgba(104,155,204,1);
}
input[type="text"]::-webkit-input-placeholder {
    color: #cccccc;
}
.check input {
    margin: 2px 0px 0px;
}
.check label {
    color: white;
    font-size: 12px;
}
.check {
    margin: 15px 0px;
}
button {
    padding: 5px 15px;
    margin: 10px 0px;
    background: linear-gradient(to top, #2e7ac4, #50afdc);
    color: white;
    border-radius: 3px;
    border: none;
}
.text p{
    font-size: 10px;
    color: #cccccc;
}
