@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida-sans-unicode_allfont.ru-webfont.eot');
    src: url('../fonts/lucida-sans-unicode_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lucida-sans-unicode_allfont.ru-webfont.woff2') format('woff2'),
    url('../fonts/lucida-sans-unicode_allfont.ru-webfont.woff') format('woff'),
    url('../fonts/lucida-sans-unicode_allfont.ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 1000px;
    height: 1310px;
    margin: 0;
    font-family: lucida_sans_unicoderegular;
}
.wrapper {
    padding: 17px 46px;
}

.phone{
    display: inline-block;
    margin: 2px 12px 0 0px;
    float: left;
}

.phone ul li img{
    vertical-align: middle;
}

.phone ul{
    padding: 0;
}

.phone li {
    font-size: 16px;
    font-weight: bold;
    color: #5e696d;
    display: inline-block;
    list-style: none;
    padding: 0px 2px;
}

.phone ul {
    margin: 0;
}
.login {
    display: inline-block;
    padding: 3px 10px 4px 7px;
    background: linear-gradient(to top, #0d3458, #1f6787);
    -webkit-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.38);
    box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.38);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    font-size: 11px;
    margin-bottom: 10px;
}
.login img{
    vertical-align: middle;
    margin: 0px 2px 3px 0px;
}
.log {
    text-decoration: none;
    color: white;
    padding: 0px 4px 0px 4px;
}
.pass {
    color: #bfbfbf;
}
.reg {
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    padding: 0 15px 0px 5px ;
}
.login input {
    padding: 0px 0px 0px 3px;
    margin: 0px 2px 0px 2px;
    font-size: 10px;
    width: 108px;
}
.logos {
    font-size: small;
    background-color: white;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid #bdc4c7;
    margin-right: 10px;
    padding: 0px 12px;
    float: right;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.36);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.36);
}
.top {
    margin: 0px 0px 15px 0px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.38);
    box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.38);
    border: 1px solid #131c45;
    overflow: hidden;
    background: rgba(72,81,96,1);
    background: -moz-linear-gradient(top, rgba(72,81,96,1) 0%, rgba(80,88,96,1) 2%, rgba(45,50,54,1) 12%, rgba(1,1,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(72,81,96,1)), color-stop(2%, rgba(80,88,96,1)), color-stop(12%, rgba(45,50,54,1)), color-stop(100%, rgba(1,1,1,1)));
    background: -webkit-linear-gradient(top, rgba(72,81,96,1) 0%, rgba(80,88,96,1) 2%, rgba(45,50,54,1) 12%, rgba(1,1,1,1) 100%);
    background: -o-linear-gradient(top, rgba(72,81,96,1) 0%, rgba(80,88,96,1) 2%, rgba(45,50,54,1) 12%, rgba(1,1,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(72,81,96,1) 0%, rgba(80,88,96,1) 2%, rgba(45,50,54,1) 12%, rgba(1,1,1,1) 100%);
    background: linear-gradient(to bottom, rgba(72,81,96,1) 0%, rgba(80,88,96,1) 2%, rgba(45,50,54,1) 12%, rgba(1,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485160', endColorstr='#010101', GradientType=0 );
}
.menu li{
    list-style: none;
    display: inline-block;
    margin: 0;
}

.menu{
    padding: 0px 55px 0px 125px;
    margin: 0;
    float: left;
    font-size:0
}
.menu a{
    color: #b1bcc0;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 16px;
    display: inline-block;
}
.menu a:hover{
    background: linear-gradient(to top, #0d3458, #1f6787);
    padding: 4px 16px;
    color: white;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}
.menu1{
    margin: 0;
}
.menu1 li{
    list-style: none;
    display: inline-block;
}

.menu1 a{
    color: #b1bcc0;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}
.menu1 img{
    vertical-align: middle;
}
.menu1 span{
    font-size: 12px;
    color: #0c5588;
}
.leftside {
    width: 20%;
    float: left;
}
.leftside ul{
    margin: 0;
}
.leftside  p img{
    vertical-align: middle;
}
.leftside  div p{
    color: #114165;
    background-color: white;
    font-size: 12px;
    margin: 0px 50px 0px 0px;
    padding: 1px;
    font-weight: 500;
    border: 1px solid #bdc4c7;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.leftside a{
    color: #465961;
    text-decoration: none;
    font-size: 10px;
}

.leftside .zagolovok {
    color: #114165;
    background-color: white;
    font-size: 11px;
    padding: 2px;
    border: 1px solid #bdc4c7;
    margin: 3px 9px 13px 0px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.36);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.36);
}
.leftside a:hover{
    text-decoration: underline;
    color: #0c3256;
    font-weight: 900;
    font-style: italic;
}
article {
    width: 54%;
    height: 628px;
    float: left;
    background: linear-gradient(to top, #93a7b0, #e5e7e8);
    padding: 0px 29px 0px 22px;
}
.leftcol {
    width: 138px;
    margin-top: 5px;
    text-align: center;
    position: absolute;
}
article figure {
    margin: 0 0 18px 0;
    padding: 0;
}
article a{
    font-size: 14px;
    color: #206988;
    text-decoration: none;
    font-weight: bolder;
    line-height: 1px;
}

article p{
    font-size: 12px;
    margin: 0;
    line-height: 15px;
    color: #1f2528;
}
article figcaption{
    color: #114165;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    line-height: 5px;
}
.centercolumn {
    width: 138px;
    height: 580px;
    margin: 5px 0 0 167px;
    text-align: center;
    position: absolute;
}
.rightcolumn {
    width: 138px;
    height: 580px;
    margin: 5px 0 0 332px;
    text-align: center;
    position: absolute;
}
.rightside {
    width: 20%;
    float: right;
}
.rightside .zagolovok{
    color: #114165;
    background-color: white;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #bdc4c7;
    margin: 3px 0px 0px 9px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.36);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.36);
}
.rightside p img {
    vertical-align: middle;
}
.rightside form p{
    color: #114165;
    background-color: white;
    font-size: 12px;
    margin: 14px 32px 9px 24px;
    padding: 1px;
    border: 1px solid #bdc4c7;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}
.rightside input{
    margin: 0 15px 0 35px;
}
.rightside label {
    color: #465961;
    font-size: 11px;
}
.rightside button{
    margin: 20px 0 0 33px;
    font-size: 11px;
    background: linear-gradient(to top,#0d3458,#1f6787);
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -webkit-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.20);
    box-shadow: 5px 5px 2px -1px rgba(0,0,0,0.20);
    border: 0;
    color: white;
    padding: 8px 12px ;
}
footer img {
    width: 100%;
}
footer nav {
    text-align: center;
    background-color: #213a4d;
    height: 99px;
    color: white;
    -webkit-box-shadow: 1px -1px 0px 0px rgba(112,108,112,0.6);
    -moz-box-shadow: 1px -1px 0px 0px rgba(112,108,112,0.6);
    box-shadow: 1px -1px 0px 0px rgba(112,108,112,0.6);
    border: 1px solid #232d3f;
}
footer nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
footer nav a:hover {
    color: #52abcb;
    font-size: 12px;
}
footer nav p {
    font-size: 10px;
    color: #7f4740;
}